<!--CARROSSEL-->
<section>
    <main>
        <div class="container-flex">
            <div id="carouselInformativo" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselInformativo" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselInformativo" data-slide-to="1"></li>
                    <li data-target="#carouselInformativo" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../../assets/carrossel-1.png" alt="Primeiro Slide - Imagem com uma 
                    foto ilustrativa de um quarto usando móveis pallet. Contém um indicativo para saber mais sobre essa 
                    tendência em nosso blog clicando no botão saiba mais">
                        <div class="container position-button-carousel-1">
                            <a href="#" class="btn btn-lg button-style-carousel-1 text-center">SAIBA MAIS</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/carrossel-2.png" alt="Segundo Slide - Imagem com uma 
                    foto ilustrativa de uma sala usando móveis pallet. Contém um informativo para conhecer mais sobre
                    nosso projeto...">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/carrossel-3.png" alt="Terceiro Slide - Imagem com uma 
                    foto ilustrativa de uma sala focada na mesa de centro feita de pallet. Contém um informativo para você 
                    se tornar nosso parceiro clicando no botão saiba mais">
                        <div class="container position-button-carousel-2">
                            <a href="#" class="btn btn-lg button-style-carousel-2 text-center">SAIBA MAIS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--/CARROSSEL-->

    <!--CARD CATEGORIAS PRINCIPAIS-->
    <div class="container">
        <div class="card-deck zoom mt-5">
            <div class="card border-0 d-flex justify-content-center align-items-center">
                <img src="../../assets/img-button-2.png" alt="">
                <button id="button-card">SALA</button>
            </div>
            <div class="card border-0 d-flex justify-content-center align-items-center">
                <img src="../../assets/img-button-1.png" alt="">
                <button id="button-card">ÁREA EXTERNA</button>
            </div>
            <div class="card border-0 d-flex justify-content-center align-items-center">
                <img src="../../assets/img-button-3.png" alt="">
                <button id="button-card">QUARTO</button>
            </div>
        </div>
    </div>
    <!--/CARD CATEGORIAS PRINCIPAIS-->

    <!--CARD CARROSSEL PRODUTOS-->
    <div class="container">
    <h2 class="text-center mt-5">Produtos em Destaque</h2>
        <div class="row">
            <div class="col-md-12">
                <div id="carouselProduct" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card-deck mt-5">
                                        <div class="card card-backgroud">
                                            <img class="card-img-top" src="../../assets/ex-produto-1.png" alt="Imagem de capa 
                                            do card">
                                            <div class="card-body">
                                                <h4 class="card-title">Banco de mesa de centro</h4>
                                                <p class="card-text"><small class="text-muted">Área externa</small></p>
                                                <h5 class="card-text">R$300,00</h5>
                                                <div class="d-flex justify-content-center mt-3">
                                                    <button class="button-add">ADICIONAR <img src="https://i.imgur.com/m6Id4HL.png" alt=""
                                                            width="25px" height="25px"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck mt-5">
                                        <div class="card card-backgroud">
                                            <img class="card-img-top" src="../../assets/ex-produto-1.png" alt="Imagem de capa 
                                            do card">
                                            <div class="card-body">
                                                <h4 class="card-title">Banco de mesa de centro</h4>
                                                <p class="card-text"><small class="text-muted">Área externa</small></p>
                                                <h5 class="card-text">R$300,00</h5>
                                                <div class="d-flex justify-content-center mt-3">
                                                    <button class="button-add">ADICIONAR <img src="https://i.imgur.com/m6Id4HL.png" alt=""
                                                    width="25px" height="25px"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck mt-5">
                                        <div class="card card-backgroud">
                                            <img class="card-img-top" src="../../assets/ex-produto-1.png" alt="Imagem de capa 
                                            do card">
                                            <div class="card-body">
                                                <h4 class="card-title">Banco de mesa de centro</h4>
                                                <p class="card-text"><small class="text-muted">Área externa</small></p>
                                                <h5 class="card-text">R$300,00</h5>
                                                <div class="d-flex justify-content-center mt-3">
                                                    <button class="button-add">ADICIONAR <img src="https://i.imgur.com/m6Id4HL.png" alt=""
                                                    width="25px" height="25px"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck mt-5">
                                        <div class="card card-backgroud">
                                            <img class="card-img-top" src="../../assets/ex-produto-1.png" alt="Imagem de capa 
                                            do card">
                                            <div class="card-body">
                                                <h4 class="card-title">Banco de mesa de centro</h4>
                                                <p class="card-text"><small class="text-muted">Área externa</small></p>
                                                <h5 class="card-text">R$300,00</h5>
                                                <div class="d-flex justify-content-center mt-3">
                                                    <button class="button-add">ADICIONAR <img src="https://i.imgur.com/m6Id4HL.png" alt=""
                                                    width="25px" height="25px"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card-deck mt-5">
                                        <div class="card card-backgroud">
                                            <img class="card-img-top" src="../../assets/ex-produto-1.png" alt="Imagem de capa 
                                            do card">
                                            <div class="card-body">
                                                <h4 class="card-title">Banco de mesa de centro</h4>
                                                <p class="card-text"><small class="text-muted">Área externa</small></p>
                                                <h5 class="card-text">R$300,00</h5>
                                                <div class="d-flex justify-content-center mt-3">
                                                    <button class="button-add">ADICIONAR <img src="https://i.imgur.com/m6Id4HL.png" alt=""
                                                            width="25px" height="25px"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck mt-5">
                                        <div class="card card-backgroud">
                                            <img class="card-img-top" src="../../assets/ex-produto-1.png" alt="Imagem de capa 
                                            do card">
                                            <div class="card-body">
                                                <h4 class="card-title">Banco de mesa de centro</h4>
                                                <p class="card-text"><small class="text-muted">Área externa</small></p>
                                                <h5 class="card-text">R$300,00</h5>
                                                <div class="d-flex justify-content-center mt-3">
                                                    <button class="button-add">ADICIONAR <img src="https://i.imgur.com/m6Id4HL.png" alt=""
                                                    width="25px" height="25px"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck mt-5">
                                        <div class="card card-backgroud">
                                            <img class="card-img-top" src="../../assets/ex-produto-1.png" alt="Imagem de capa 
                                            do card">
                                            <div class="card-body">
                                                <h4 class="card-title">Banco de mesa de centro</h4>
                                                <p class="card-text"><small class="text-muted">Área externa</small></p>
                                                <h5 class="card-text">R$300,00</h5>
                                                <div class="d-flex justify-content-center mt-3">
                                                    <button class="button-add">ADICIONAR <img src="https://i.imgur.com/m6Id4HL.png" alt=""
                                                    width="25px" height="25px"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck mt-5">
                                        <div class="card card-backgroud">
                                            <img class="card-img-top" src="../../assets/ex-produto-1.png" alt="Imagem de capa 
                                            do card">
                                            <div class="card-body">
                                                <h4 class="card-title">Banco de mesa de centro</h4>
                                                <p class="card-text"><small class="text-muted">Área externa</small></p>
                                                <h5 class="card-text">R$300,00</h5>
                                                <div class="d-flex justify-content-center mt-3">
                                                    <button class="button-add">ADICIONAR <img src="https://i.imgur.com/m6Id4HL.png" alt=""
                                                    width="25px" height="25px"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselProduct" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon indicador-e" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselProduct" role="button" data-slide="next">
                    <span class="carousel-control-next-icon indicador-d" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                  </a>
                <a class="d-flex justify-content-end mt-2" style="font-weight: bold;">veja + produtos</a>
            </div>
        </div>
    </div>

<!--/CARD CARROSSEL PRODUTOS-->

<!--NOSSA HISTÓRIA BEM BREVEMENTE-->
<div class="container">
    <div class="row d-flex justify-content-center p-0">
      <div class="col-md-6 col-square-1">
        <h3 class="d-flex justify-content-center title-hist-inov">CONHEÇA NOSSA HISTÓRIA</h3>
        <p class="text-justify p-hist-inov">Uma empresa fundada em 2021 com a missão de promover inovações com relações harmoniosas do indivíduo, com os outros e com a natureza.</p>
      </div>
      <div class="col-md-6 img-square d-flex justify-content-center p-0">
        <img class="img-fluid" src="../../assets/artesao-1.png" width="600px" height="550px" alt="">
      </div>
      <div class="row d-flex justify-content-center p-0">
      <div class="col-md-8 d-flex justify-content-center p-0">
        <img src="../../assets/artesao-2.png" width="600px" height="550px" alt="">
        <div class="col-md-8 col-square-2">
          <h3 class="d-flex justify-content-center title-hist-inov">INOVAÇÃO</h3>
          <p class="text-justify p-hist-inov">Para reduzir o impacto de lixo no meio ambiente, procuramos buscar artesães que fazem produtos 100% de materiais reciclados...</p>
        </div>
        </div>
      </div>
    </div>
  </div>
<!--/NOSSA HISTÓRIA BEM BREVEMENTE-->

<!--ARTESÃOS EM DESTAQUE-->
  <div class="container">
    <h2 class="text-center mt-5">ARTESÃOS</h2>
        <div class="row">
            <div class="col-md-12 mt-5">
                <div id="carouselArtesaes" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row ml-5 mr-5">
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/1.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Joana</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/2.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Mauro</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/3.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Ana</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/4.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Jaqueline</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row ml-5 mr-5">
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/5.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Maria</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/6.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Joab</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/7.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Isabela</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/8.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Wilson</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselArtesaes" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon indicador-e" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselArtesaes" role="button" data-slide="next">
                    <span class="carousel-control-next-icon indicador-d" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                  </a>
                <a class="d-flex justify-content-end mt-0 mr-3" style="font-weight: bold;">+ seja um parceiro</a>
            </div>
        </div>
  </div>
  <!--/ARTESÃOS EM DESTAQUE-->


</section>
