<!--CARROSSEL-->
<section>
    <main>
        <div class="container-flex">
            <div id="carouselInformativo" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselInformativo" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselInformativo" data-slide-to="1"></li>
                    <li data-target="#carouselInformativo" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../../assets/carrossel-1.png" alt="Primeiro Slide - Imagem com uma 
                    foto ilustrativa de um quarto usando móveis pallet. Contém um indicativo para saber mais sobre essa 
                    tendência em nosso blog clicando no botão saiba mais">
                        <div class="container position-button-carousel-1">
                            <a  href="#" class="btn btn-lg button-style-carousel-1 text-center disabled" style="margin-left: -230px;">SAIBA MAIS</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/carrossel-2.png" alt="Segundo Slide - Imagem com uma 
                    foto ilustrativa de uma sala usando móveis pallet. Contém um informativo para conhecer mais sobre
                    nosso projeto...">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/carrossel-3.png" alt="Terceiro Slide - Imagem com uma 
                    foto ilustrativa de uma sala focada na mesa de centro feita de pallet. Contém um informativo para você 
                    se tornar nosso parceiro clicando no botão saiba mais">
                        <div class="container position-button-carousel-2">
                            <a  href="#" class="btn btn-lg button-style-carousel-2 text-center disabled" style="margin-left: 530px;">SAIBA MAIS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--/CARROSSEL-->

    <!--CARD CATEGORIAS PRINCIPAIS-->
    <div class="container">
        <div class="card-deck zoom mt-5">
            <div class="card border-0 d-flex justify-content-center align-items-center">
                <img src="../../assets/img-button-2.png" alt="">
                <button routerLink='/sala' id="button-card">SALA</button>
            </div>
            <div class="card border-0 d-flex justify-content-center align-items-center">
                <img src="../../assets/img-button-1.png" alt="">
                <button routerLink='/areaExterna' id="button-card">ÁREA EXTERNA</button>
            </div>
            <div class="card border-0 d-flex justify-content-center align-items-center">
                <img src="../../assets/img-button-3.png" alt="">
                <button routerLink='/quarto' id="button-card">QUARTO</button>
            </div>
        </div>
    </div>
    <!--/CARD CATEGORIAS PRINCIPAIS-->

    <!--CARD CARROSSEL PRODUTOS-->
    <div class="container">
    <h2 class="text-center mt-5">Produtos em Destaque</h2>
        <div class="row">
            <div class="col-md-12">
                <div  id="carouselProduct" class="carousel slide" data-ride="carousel">
                    <div  class="carousel-inner">
                        <div  class="carousel-item active" >
                            <div class="row" >
                                <div  class="col-md-3" *ngFor='let item of listProdutos | slice:0:4 ; index as i' >
                                    <div  class="card-deck mt-5">
                                        <div class="card card-backgroud ">
                                            <img class="card-img-top" src="{{item.imagemProduto}}" alt="Imagem de capa 
                                            do card">
                                            <div class="card-body">
                                                <h4 class="card-title">{{item.nomeProduto}}</h4>
                                                <p class="card-text"><small class="text-muted">{{item.categorias}}</small></p>
                                                <h5 class="card-text">{{item.precoProduto | currency:'BRL':true}}</h5>
                                                <div class="d-flex justify-content-center mt-3">
                                                    <button (click)="addToCart(item)" class="button-add">ADICIONAR <img src="https://i.imgur.com/m6Id4HL.png" alt=""
                                                            width="25px" height="25px"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3" *ngFor='let item of listProdutos | slice:0:4 ; index as i'>
                                    <div  class="card-deck mt-5">
                                        <div class="card card-backgroud ">
                                            <img class="card-img-top" src="{{item.imagemProduto}}" alt="Imagem de capa 
                                            do card">
                                            <div class="card-body">
                                                <h4 class="card-title">{{item.nomeProduto}}</h4>
                                                <p class="card-text"><small class="text-muted">{{item.categorias}}</small></p>
                                                <h5 class="card-text">{{item.precoProduto | currency:'BRL':true}}</h5>
                                                <div class="d-flex justify-content-center mt-3">
                                                    <button (click)="addToCart(item)" class="button-add">ADICIONAR <img src="https://i.imgur.com/m6Id4HL.png" alt=""
                                                            width="25px" height="25px"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselProduct" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon indicador-e" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselProduct" role="button" data-slide="next">
                    <span class="carousel-control-next-icon indicador-d" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                  </a>
            </div>
            <a routerLink='/produtos' class="d-flex justify-content-end mt-4" style="font-weight: bold;">veja + produtos</a>
        </div>
    </div>

<!--/CARD CARROSSEL PRODUTOS-->

<!--NOSSA HISTÓRIA BEM BREVEMENTE-->
<div class="container">
    <div class="row d-flex justify-content-center p-0">
      <div class="col-md-6 col-square-1">
        <h3 class="d-flex justify-content-center title-hist-inov">CONHEÇA NOSSA HISTÓRIA</h3>
        <p class="text-justify p-hist-inov">Uma empresa fundada em 2021 com a missão de promover inovações com relações harmoniosas do indivíduo, com os outros e com a natureza.</p>
      </div>
      <div class="col-md-6 img-square d-flex justify-content-center p-0">
        <img class="img-fluid" src="../../assets/artesao-1.png" width="600px" height="550px" alt="">
      </div>
      <div class="row d-flex justify-content-center p-0">
      <div class="col-md-8 d-flex justify-content-center p-0">
        <img src="../../assets/artesao-2.png" width="600px" height="550px" alt="">
        <div class="col-md-8 col-square-2">
          <h3 class="d-flex justify-content-center title-hist-inov">INOVAÇÃO</h3>
          <p class="text-justify p-hist-inov">Para reduzir o impacto de lixo no meio ambiente, procuramos buscar artesães que fazem produtos 100% de materiais reciclados...</p>
        </div>
        </div>
      </div>
    </div>
  </div>
<!--/NOSSA HISTÓRIA BEM BREVEMENTE-->

<!--ARTESÃOS EM DESTAQUE-->
  <div class="container">
    <h2 class="text-center mt-5">ARTESÃOS</h2>
        <div class="row">
            <div class="col-md-12 mt-5">
                <div id="carouselArtesaes" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row ml-5 mr-5">
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/1.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Joana</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/2.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Mauro</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/3.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Ana</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/4.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Jaqueline</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row ml-5 mr-5">
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/5.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Maria</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/6.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Joab</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/7.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Isabela</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-deck">
                                        <div class="card card-art-backgroud">
                                            <img class="card-img-top card-art" src="../../assets/8.png" alt="Imagem de capa do card">
                                            <div class="card-body">
                                                <h4 class="card-title text-center">Wilson</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselArtesaes" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon indicador-e" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselArtesaes" role="button" data-slide="next">
                    <span class="carousel-control-next-icon indicador-d" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                  </a>
            </div>
            <a *ngIf='auth2.btnLogin()' class="d-flex justify-content-end mt-0 mr-3 mb-5" style="font-weight: bold;" data-toggle="modal" data-target="#mymodal2">+ seja um parceiro </a>
        </div>
  </div>
  <!--/ARTESÃOS EM DESTAQUE-->


</section>

<!-- Modal-Cadastrar -->
<div class="modal fade" id="mymodal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
        <div class="modal-content modal-personalizado backgroundModal">
            <div class="container-fluid">
                <div class="row ">
                    <div style="border-radius: 20px;" class="col-md-6">

                        <h3 class="text-center mt-5 fonte negrito">CADASTRAR</h3>
                        <hr width="200px">

                        <form class="fonte negrito">
                            <div class="form-group" style="margin-top: 30px;">
                                <label class="mb-0 ml-2" for="formGroupExampleInput">Nome Completo:</label>
                                <input [(ngModel)]='usuarioModel.nomeCompleto' type="text" class="form-control"
                                    id="nomeCompleto" placeholder="" name="nomeCompleto">
                            </div>
                            <div class="form-group">
                                <label class="mb-0 ml-2" for="formGroupExampleInput2">Endereço:</label>
                                <input [(ngModel)]='usuarioModel.endereco' type="adress" class="form-control"
                                    id="endereco" placeholder="" name="endereco">
                            </div>
                            <div class="form-group">
                                <label class="mb-0 ml-2" for="formGroupExampleInput">CPF:</label>
                                <input [(ngModel)]='usuarioModel.cpf' type="text" class="form-control" id="cpf"
                                    placeholder="" name="cpf">
                            </div>
                            <div class="form-group">
                                <label class="mb-0 ml-2" for="formGroupExampleInput2">Usuário:</label>
                                <input [(ngModel)]='usuarioModel.nomeUsuario' type="text" class="form-control"
                                    id="nomeUsuario" placeholder="" name="nomeUsuario">
                            </div>
                            <div class="form-group">
                                <label class="mb-0 ml-2" for="formGroupExampleInput">E-mail:</label>
                                <input [(ngModel)]='usuarioModel.email' type="email" class="form-control" id="email"
                                    placeholder="" name="email">
                            </div>
                            <div class="form-group">
                                <label class="mb-0 ml-2" for="formGroupExampleInput2">Senha:</label>
                                <input (input)='confirmSenha($event)' type="password" class="form-control" id="senha"
                                    placeholder="" name="senha">
                            </div>
                            <div class="form-group">
                                <label class="mb-0 ml-2" for="formGroupExampleInput2">Confirmar Senha:</label>
                                <input [(ngModel)]='usuarioModel.senha' type="password" class="form-control"
                                    id="confirmarSenha" placeholder="" name="confirmarSenha">
                            </div>
                        </form>

                        <div class="d-flex justify-content-center mt-2 mb-5 mt-4">
                            <button id="button1" type="submit"
                                class="btn btn-dark mr-3 mt-2 mb-2 backgroundbotton text-dark fonte negrito"
                                data-dismiss="modal">Cancelar</button>
                            <button id="button2" type="submit"
                                class="btn btn-dark mt-2 mb-2 backgroundbotton text-dark fonte negrito"
                                (click)='cadastrar()' data-dismiss="modal">Cadastrar</button>
                        </div>


                    </div>
                    <div style="border-radius: 20px;" class="col-md-6 mt-5">
                        <img class="img-fluid" style="margin-top: 100px;" src="../../assets/logoEntrar.png" alt=""
                            width="350px" height="350px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- \Modal-Cadastrar -->
