<section>
  <div class="container-flex  d-flex justify-content-center">
    <h5 class="card-title text-center texto categoria absolute">PRODUTOS</h5>
      <img class="img-banner " src="https://cdn.discordapp.com/attachments/810919827170263093/825121660055060500/ambientado-pallet-header.png" alt="Foto da categoria" width="100%">
  </div>
  
  <div class="container-fluid mt-5">
      <div class="row">
          <div class="col-md-3 negrito mt-5 ml-5">
              <div class="d-flex justify-content-start ml-2">
                  <p class="text-center">PREÇOS</p>
              </div> 
              <div class="d-flex justify-content-start">
                  <p class="text-center">- R$200.00</p>
                 </div>
                 <div class="d-flex justify-content-start">
                  <p class="text-center">- R$200.00 a R$1000.00</p>
                 </div>
                 <div class="d-flex justify-content-start">
                  <p class="text-center">- Mais de R$1000.00</p>
                 </div>
                 <div class="p-2 ">
                     <button class="botao-preco">MINÍMO</button>
                     <button class="ml-3 botao-preco">MÁXIMO</button>
                 </div>
          </div>
          <div  class="container card mb-5">
            <div  class="row row-cols-1 row-cols-md-4 card2 mt-4">
                <div *ngFor='let item of listProdutos' class="col mb-4 ">
                  <div class="card" >
                    <img class="card-img-top" src="{{item.imagemProduto}}" alt="Imagem de capa do card">
                    <div  class="card-body">
                      <h5  class= "card-title">{{item.nomeProduto}} </h5>
                      <p class="card-text">{{item.categorias}}</p>
                      <p>{{item.precoProduto | currency:'BRL':true}}  </p>
                      <div class="d-flex justify-content-center">
                          <button (click)="addToCart(item)" class="botao">ADICIONAR <img src="https://i.imgur.com/I2SQK3q.png" alt="" width="30px" height="30px"></button> 
                      </div>
                    </div>
      
                  </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>
  
