<footer class="page-footer mt-4 mb-3">
<div class="container fonte">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="rodape">
                <li>
                    <a routerLink='/desenvolvedores'>DESENVOLVEDORES</a>
                </li>
                <li>
                    <p>|</p>
                </li>
                <li>
                    <a class="disabled" >POLÍTICAS DA EMPRESA</a>
                </li>
                <li>
                    <p>|</p>
                </li>
                <li>
                    <a class="disabled">DEPOIMENTOS</a>
                </li>
                <li>
                    <p>|</p>
                </li>
                <li>
                    <a class="disabled">BLOG</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="rodape align-items">
                <li>
                    <img src="../../assets/icone-whatsapp_2.png" alt="icone do whatsapp">
                </li>
                <li>
                    <p>(11)95582-5569</p>
                </li>
                <li>
                    <p>|</p>
                </li>
                <li>
                    <img src="../../assets/icone-email.png" alt="icone email">
                </li>
                <li>
                    <p>faleconosco@meuatelie.com.br</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="rodape">
                <li>
                    <img src="../../assets/icone-localizacao.png" alt="icone de localizacao">
                </li>
                <li>
                    <p>Av.Paulista, 100 - Bela Vista - São Paulo - SP, 01310-000 </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="rodape">
                <li>
                    <a ><img src="../../assets/icone-linkedin.png" class="mr-3 disabled" alt="icone do linkedin"></a>
                </li>
                <li>
                    <a><img src="../../assets/icone-instagram.png" class="mr-3 disabled" alt="icone do instagram"></a>
                </li>
                <li>
                    <a ><img src="../../assets/icone-facebook.png" class="mr-3 disabled"alt="icone do facebook"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</footer>
