<footer class="page-footer">
<div class="container fonte">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="rodape">
                <li>
                    <a href="">DESENVOLVEDORES</a>
                </li>
                <li>
                    <p>|</p>
                </li>
                <li>
                    <a href="">POLÍTICAS DA EMPRESA</a>
                </li>
                <li>
                    <p>|</p>
                </li>
                <li>
                    <a href="">DEPOIMENTOS</a>
                </li>
                <li>
                    <p>|</p>
                </li>
                <li>
                    <a href="">BLOG</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="rodape align-items">
                <li>
                    <img src="../../assets/icone-whatsapp_2.png" alt="icone do whatsapp">
                </li>
                <li>
                    <p>(11)95582-5569</p>
                </li>
                <li>
                    <p>|</p>
                </li>
                <li>
                    <img src="../../assets/icone-email.png" alt="icone email">
                </li>
                <li>
                    <p>faleconosco@meuatelie.com.br</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="rodape">
                <li>
                    <img src="../../assets/icone-localizacao.png" alt="icone de localizacao">
                </li>
                <li>
                    <p>Av.Paulista, 100 - Bela Vista - São Paulo - SP, 01310-000 </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="rodape">
                <li>
                    <a href=""><img src="../../assets/icone-linkedin.png" class="mr-3" alt="icone do linkedin"></a>
                </li>
                <li>
                    <a href=""><img src="../../assets/icone-instagram.png" class="mr-3" alt="icone do instagram"></a>
                </li>
                <li>
                    <a href=""><img src="../../assets/icone-facebook.png" class="mr-3"alt="icone do facebook"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</footer>
