<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand ml-5" href="#"><img src="../../assets/logo.png" alt="" width="150px" height="88px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline my-2 my-lg-0" id="divBusca">
        <input class="fonte" type="text" id="txtBusca" placeholder="Buscar produtos"/>
        <button class="border-0 ml-auto mr-2">
            <img src="../../assets/logoPesquisa.png" id="btnBusca" alt="Buscar" width="40px" height="20px" />
        </button>
    </form>
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-5 " style="margin-right: 50px;">
            
            <li class="nav-item dropdown fonte" style="font-size: 25px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                
                    Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Quarto</a>
                    <a class="dropdown-item" href="#">Banheiro</a>
                    <a class="dropdown-item" href="#">Cozinha</a>
                    <a class="dropdown-item" href="#">Sala</a>
                    <a class="dropdown-item" href="#">Área externa</a>
                    <a class="dropdown-item" href="#">Todas as categorias</a>
                </div>
            </li>
            <li class="nav-item dropdown fonte" style="font-size: 25px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="../../assets/user.png" alt="" width="30px" height="30px">
                    Entrar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Entrar</a>
                    <a class="dropdown-item" href="#">Cadastrar</a>
                    
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"><img src="../../assets/carrinho.png" alt="" width="40px" height="40px"></a>
            </li>
        </ul>

    </div>
</nav>