<div class="container">
    <div class="d-flex justify-content-center align-items-center mt-5 mb-4">
        <h5 class="text-center fonte">EDITE O SEU PRODUTO</h5>

    </div>
    <div class="row">
        <div class="col-md-12">
            <form>   
                <h6 class="ml-4 fonte">QUAL É A CATEGORIA DO SEU PRODUTO: (somente é válida as que estão definidas abaixo)</h6>
                <div class="form-group fonte">
                    <label for="categorias">QUARTO | SALA | COZINHA | BANHEIRO | ÁREA EXTERNA</label>
                    <input [(ngModel)]='produto.nomeProduto' type="nomeProduto" class="form-control" id="nomeProduto" name="nomeProduto" >
                </div>
                <div class="d-flex justify-content-center mb-4 mt-4">
                    <button class="btn button-radius fonte" routerLink='/conta-artesao' type="button" >Cancelar</button>
                    <button class="btn button-radius fonte" type="button" (click)='atualizar()' >Alterar</button>
                </div>
        </form>
       
        </div>
    </div>
</div>
