<div class="container-fluid" style="background-color: #efefed">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

  <div class="wrapper">
    <div class="top_navbar">
      <div class="hamburger">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
    </div>

    <div class="sidebar">
      <ul>
        <li><a href="#">
            <span class="icon"><i class="fas fa-book"></i></span>
            <span class="title">Books</span>
          </a></li>
        <li><a href="#">
            <span class="icon"><i class="fas fa-file-video"></i></span>
            <span class="title">Movies</span>
          </a></li>
        <li><a href="#">
            <span class="icon"><i class="fas fa-volleyball-ball"></i></span>
            <span class="title">Sports</span>
          </a></li>
        <li><a href="#" class="active">
            <span class="icon"><i class="fas fa-blog"></i></span>
            <span class="title">Blogs</span>
          </a></li>
        <li><a href="#">
            <span class="icon"><i class="fas fa-leaf"></i></span>
            <span class="title">Nature</span>
          </a></li>
      </ul>
    </div>

  </div>


  <div class="row d-flex justify-content-end">
    <div style="width:1400; height: 1700px; background-color:#e5dad0">
      <div class="row d-flex justify-content-end">
        <div style="width: 1400px; height: 1700px; background-color:#e5dad0">

          <h1 class="mb-5 text-center mt-5">SEJA BEM-VINDE ARTESÃO &#x2764;</h1>

          <div id="divBusca">
            <button id="btnBusca"><i class="mr-2 fas fa-search"></i></button>
            <input class="input-atelie" style="background-color: #e5dad0;" type="text" id="txtBusca" placeholder="" />
          </div>

          <div class="anunciar">
            <button type="button" class="btn btn-outline-light">Anunciar</button>
          </div>

          <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-4 ">
              <div class="card">
                <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top" alt="Foto do produto">
                <div class="card-body card-atelie rounded">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em Estoque: </p>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-light">Editar</button>
                  </div>

                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top" alt="Foto do produto">
                <div class="card-body card-atelie rounded">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em Estoque: </p>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-light">Editar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top" alt="Foto do produto">
                <div class="card-body card-atelie rounded">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em Estoque: </p>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-light">Editar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card">
                <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top" alt="Foto do produto">
                <div class="card-body card-atelie rounded">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em Estoque: </p>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-light">Editar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card">
                <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top" alt="Foto do produto">
                <div class="card-body card-atelie rounded">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em Estoque: </p>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-light">Editar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card">
                <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top" alt="Foto do produto">
                <div class="card-body card-atelie rounded">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em Estoque: </p>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-light">Editar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card">
                <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top" alt="Foto do produto">
                <div class="card-body card-atelie rounded">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em Estoque: </p>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-light">Editar</button>
                  </div>

                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top" alt="Foto do produto">
                <div class="card-body card-atelie rounded">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em Estoque: </p>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-light">Editar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h2 class="d-flex justify-content-center">MINHAS COMPRAS</h2>

          <div class="d-flex justify-content-center box">
            <textarea class="area" style="background-color: #efefed;" rows="7">  </textarea>
            <textarea class="area box" style="background-color: #efefed;" rows="7">  </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>