<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
        <div class="modal-content modal-personalizado backgroundModal">
            <div class="container-fluid">
                <div class="row ">
                    <div style="border-radius: 20px;" class="col-md-6">

                        <h3 class="text-center mt-5 fonte negrito">CADASTRAR</h3>
                        <hr width="200px">

                        <form class="fonte negrito">
                            <div class="form-group" style="margin-top: 30px;">
                                <label class="mb-0 ml-2" for="formGroupExampleInput">Nome Completo:</label>
                                <input type="text" class="form-control" id="nome" placeholder="">
                            </div>
                            <div class="form-group">
                                <label class="mb-0 ml-2" for="formGroupExampleInput2">Endereço:</label>
                                <input type="adress" class="form-control" id="endereco" placeholder="">
                            </div>
                            <div class="form-group">
                                <label class="mb-0 ml-2" for="formGroupExampleInput">CPF:</label>
                                <input type="text" class="form-control" id="cpf" placeholder="">
                            </div>
                            <div class="form-group">
                                <label class="mb-0 ml-2" for="formGroupExampleInput2">Usuário:</label>
                                <input type="text" class="form-control" id="usuario" placeholder="">
                            </div>
                            <div class="form-group">
                                <label class="mb-0 ml-2" for="formGroupExampleInput">E-mail:</label>
                                <input type="email" class="form-control" id="email" placeholder="">
                            </div>
                            <div class="form-group">
                                <label class="mb-0 ml-2" for="formGroupExampleInput2">Senha:</label>
                                <input type="password" class="form-control" id="senha" placeholder="">
                            </div>
                            <div class="form-group">
                                <label class="mb-0 ml-2" for="formGroupExampleInput2">Confirmar Senha:</label>
                                <input type="password" class="form-control" id="confirmarSenha" placeholder="">
                            </div>
                        </form>
                        
                        <div class="d-flex justify-content-center mt-2 mb-5 mt-4">
                            <button id="button1" type="submit" class="btn btn-dark mr-3 mt-2 mb-2 backgroundbotton text-dark fonte negrito">Cancelar</button>
                            <button id="button2" type="submit" class="btn btn-dark mt-2 mb-2 backgroundbotton text-dark fonte negrito">Cadastrar</button>
                        </div>


                    </div>
                    <div style="border-radius: 20px;" class="col-md-6 mt-5">
                        <img class="img-fluid" style="margin-top: 100px;" src="../../assets/logoEntrar.png" alt=""
                            width="350px" height="350px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- \Modal -->