<div class="container-fluid " style=" background-color:#e5dad0">

    <div class="row d-flex justify-content-center">
        <h1 class="mt-5 mb-5">SEJA BEM-VINDE ARTESÃO &#x2764;</h1>
    </div>
    <div class="row">

        <div class="col-md-6 d-flex justify-content-start">
            <a class="disabled meusAnuncios colorMenu " style="margin-left: 380px;">MEUS ANÚNCIOS</a>
            <a class="disabled meusAnuncios ml-4 colorMenu"  >MINHAS COMPRAS</a>
        </div>
        <div class="col-md-6 d-flex justify-content-end"  >
            <button type="button" class="btn btn-sucess button2 fonte" style="margin-right: 380px;" data-toggle="modal"
                data-target="#ExemploModalCentralizado">ANUNCIAR</button>
        </div>
    </div>

    <div id="divBusca" style="margin-left: 200px;">


        <a href=""><i class="fas fa-search search"></i></a>
        <input class="input-atelie barraPesquisar" style="background-color: #e5dad0;" type="text" id="txtBusca" name="nomeProduto" [(ngModel)]='nomeProduto' 
            placeholder="Buscar por nome dos produtos" (keyup)='findByProdutos()' />
    </div>


    <div id="meusprodutos" class="container card">
        <div  class="row row-cols-1 row-cols-md-4 card2">
            <div *ngFor='let item of user.meusProdutos' class="col mb-4 ">
                <div  class="card">
                    <img src="{{item.imagemProduto}}" class="card-img-top" alt="Foto do produto">
                    <div class="card-body card-atelie rounded">
                        <h5 class="card-title">{{item.nomeProduto}}</h5>
                        <p class="card-text">{{item.descricaoProduto}}<br>{{item.precoProduto | currency:'BRL':true}}</p>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-sucess button fonte" 
                                [routerLink]="['/edit',item.id]">EDITAR</button>
                                <button type="button" class="btn btn-sucess button fonte" (click)='apagar(item.id)'
                                >APAGAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2 class="d-flex justify-content-center minhasCompras fonte">MINHAS COMPRAS</h2>
    </div>

    <div id="minhascompras" class="container d-flex justify-content-center listaVendas">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Produto:</th>
                            <th scope="col">Preço:</th>
                            <th scope="col">Vendedor:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor='let item of user.minhasCompras'>
                            <td>{{item.nomeProduto}}</td>
                            <td>{{item.precoProduto}}</td>
                            <td>{{item.categorias}}</td>
                        </tr>
                    </tbody>
                </table>


            </div>

        </div>
    </div>
</div>






<!--Modal----------------------------------------------------------------------------->

<div class="container-fluid">
    <div class="row">

        <!-- Modal --------------------------------------------------------------------------------Modal-->
        <div class="modal fade fonte" id="ExemploModalCentralizado" tabindex="-1" role="dialog"
            aria-labelledby="TituloModalCentralizado" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
                <div class="modal-content backgroundModal modal-personalizado">
                    <div class="d-flex justify-content-center fonte align-items-center mt-5 mb-4">
                        <h5>CADASTRE SEU PRODUTO</h5>

                    </div>
                    <div class="modal-body">

                        <form [formGroup]="myform"  ng-controller="ExampleController">
                            <h6 class="ml-4 fonte">QUAL É A CATEGORIA DO SEU PRODUTO: (somente é válida as que estão definidas abaixo)</h6>
                            <div class="form-group fonte">
                                <label for="categorias">QUARTO | SALA | COZINHA | BANHEIRO | ÁREA EXTERNA</label>
                                <input [(ngModel)]='produtoModel.categorias' type="categorias" class="form-control" id="categorias" name="categorias" formControlName="categorias">
                            </div>


                            <div class="form-group mt-5 fonte">
                                <label for="nome">Nome do produto:</label>
                                <input [(ngModel)]='produtoModel.nomeProduto' type="nomeProduto" class="form-control" id="nomeProduto" name="nomeProduto" formControlName="nomeProduto">
                            </div>
                            <div class="form-group mt-5 fonte">
                                <label for="descricao">Descrição:</label>
                                <input [(ngModel)]='produtoModel.descricaoProduto' type="descricaoProduto" class="form-control" id="descricaoProduto" name="descricaoProduto"
                                formControlName="descricaoProduto">
                            </div>
                            <div class="form-group mt-5 fonte">
                                <label for="preco">Preço:</label>
                                <input [(ngModel)]='produtoModel.precoProduto' type="precoProduto" class="form-control" id="precoProduto" name="precoProduto" formControlName="precoProduto"> 
                            </div>
                            <div class="form-group mt-5 fonte">
                                <label for="foto">Link da foto:</label>
                                <input [(ngModel)]='produtoModel.imagemProduto' type="imagemProduto" class="form-control" id="imagemProduto" name="imagemProduto"
                                formControlName="imagemProduto">
                            </div>
                            <div class="d-flex justify-content-center mb-4 mt-4">
                                <button class="btn button-radius fonte" type="button" data-dismiss="modal">Cancelar</button>
                                <button class="btn button-radius fonte" type="submit"  (click)='cadastrar()' >Cadastrar</button>
                                <button class="btn button-radius fonte" type="reset" (click)="reset" >Reset</button>
                            </div>
                        </form>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>