<div class="container-fluid" style="background-color: #efefed">


    <div class="row d-flex justify-content-end">
        <div style="width: 1500px; height: 1700px; background-color:#e5dad0">
            <div class="row d-flex justify-content-end">
                <div style="width: 1400px; height: 1700px; background-color:#e5dad0">

                    <h1 class="mb-5 text-center mt-5">SEJA BEM-VINDE ARTESÃO &#x2764;</h1>

                        <div class="row"> 
                        <div class="col-md-6 d-flex justify-content-start ">
                            <a class="meusAnuncios colorMenu" href="">MEUS ANÚNCIOS</a>
                            <a class="ml-4 colorMenu" href="">MINHAS COMPRAS</a>
                        </div>    
                        <div class="col-md-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-sucess button2 fonte">ANUNCIAR</button>
                            </div>
                        </div>
                  
                    <div id="divBusca">

                        
                        <a href=""><i class="fas fa-search search"></i></a>
                        <input class="input-atelie barraPesquisar" style="background-color: #e5dad0;" type="text"
                            id="txtBusca" placeholder="Buscar por nome dos produtos" />
                    </div>


                    <div class="container card">
                        <div class="row row-cols-1 row-cols-md-4 card2">
                            <div class="col mb-4 ">
                                <div class="card">
                                    <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top"
                                        alt="Foto do produto">
                                    <div class="card-body card-atelie rounded">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em
                                            Estoque: </p>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-sucess button fonte">EDITAR</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card">
                                    <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top"
                                        alt="Foto do produto">
                                    <div class="card-body card-atelie rounded">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em
                                            Estoque: </p>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-sucess button fonte">EDITAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card">
                                    <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top"
                                        alt="Foto do produto">
                                    <div class="card-body card-atelie rounded">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em
                                            Estoque: </p>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-sucess button fonte">EDITAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col mb-4">
                                <div class="card">
                                    <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top"
                                        alt="Foto do produto">
                                    <div class="card-body card-atelie rounded">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em
                                            Estoque: </p>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-sucess button fonte">EDITAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col mb-4">
                                <div class="card">
                                    <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top"
                                        alt="Foto do produto">
                                    <div class="card-body card-atelie rounded">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em
                                            Estoque: </p>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-sucess button fonte">EDITAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col mb-4">
                                <div class="card">
                                    <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top"
                                        alt="Foto do produto">
                                    <div class="card-body card-atelie rounded">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em
                                            Estoque: </p>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-sucess button fonte">EDITAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col mb-4">
                                <div class="card">
                                    <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top"
                                        alt="Foto do produto">
                                    <div class="card-body card-atelie rounded">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em
                                            Estoque: </p>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-sucess button fonte">EDITAR</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card">
                                    <img src="https://i.imgur.com/xb5BGP1.png" class="card-img-top"
                                        alt="Foto do produto">
                                    <div class="card-body card-atelie rounded">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Nome do Produto: <br>Descrição:<br>Preço:<br>Qtd em
                                            Estoque: </p>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-sucess button fonte">EDITAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="d-flex justify-content-center minhasCompras fonte">MINHAS COMPRAS</h2>

                    <div class="container listaVendas">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID:</th>
                                    <th scope="col">Vendedor(e):</th>
                                    <th scope="col">Preço:</th>
                                    <th scope="col">Nickname:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>