<div class="container-fluid " style=" background-color:#e5dad0">

    <div class="row d-flex justify-content-center">
        <h1 class="mt-5 mb-5">SEJA BEM-VINDE ARTESÃO &#x2764;</h1>
    </div>
    <div class="row">

        <div class="col-md-6 d-flex justify-content-start ">
            <a class="meusAnuncios colorMenu" href="">MEUS ANÚNCIOS</a>
            <a class="ml-4 colorMenu" href="">MINHAS COMPRAS</a>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <button type="button" class="btn btn-sucess button2 fonte" data-toggle="modal"
                data-target="#ExemploModalCentralizado">ANUNCIAR</button>
        </div>
    </div>

    <div id="divBusca">


        <a href=""><i class="fas fa-search search"></i></a>
        <input class="input-atelie barraPesquisar" style="background-color: #e5dad0;" type="text" id="txtBusca"
            placeholder="Buscar por nome dos produtos" />
    </div>


    <div  class="container card">
        <div  class="row row-cols-1 row-cols-md-4 card2">
            <div *ngFor='let item of listaProdutos' class="col mb-4 ">
                <div  class="card">
                    <img src="{{item.imagemProduto}}" class="card-img-top" alt="Foto do produto">
                    <div class="card-body card-atelie rounded">
                        <h5 class="card-title">{{item.nomeProduto}}</h5>
                        <p class="card-text">{{item.descricaoProduto}}<br>{{item.precoProduto}}<br>{{item.quantidadeProduto}}</p>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-sucess button fonte" data-toggle="modal"
                                data-target="#edite">EDITAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2 class="d-flex justify-content-center minhasCompras fonte">MINHAS COMPRAS</h2>
    </div>

    <div class="container d-flex justify-content-center listaVendas">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID:</th>
                            <th scope="col">Vendedor(e):</th>
                            <th scope="col">Preço:</th>
                            <th scope="col">Nickname:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>


            </div>

        </div>
    </div>
</div>






<!--Modal----------------------------------------------------------------------------->

<div class="container-fluid">
    <div class="row">

        <!-- Modal --------------------------------------------------------------------------------Modal-->
        <div class="modal fade fonte" id="ExemploModalCentralizado" tabindex="-1" role="dialog"
            aria-labelledby="TituloModalCentralizado" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
                <div class="modal-content backgroundModal modal-personalizado">
                    <div class="d-flex justify-content-center fonte align-items-center mt-5 mb-4">
                        <h5>CADASTRE SEU PRODUTO</h5>

                    </div>
                    <div class="modal-body">

                        <form [formGroup]="myform"  ng-controller="ExampleController">
                            <h6 class="ml-4 fonte">QUAL É A CATEGORIA DO SEU PRODUTO: (somente é válida as que estão definidas abaixo)</h6>
                            <div class="form-group fonte">
                                <label for="categorias">QUARTO | SALA | COZINHA | BANHEIRO | ÁREA EXTERNA</label>
                                <input [(ngModel)]='produtoModel.categorias' type="categorias" class="form-control" id="categorias" name="categorias" formControlName="categorias">
                            </div>


                            <div class="form-group mt-5 fonte">
                                <label for="nome">Nome do produto:</label>
                                <input [(ngModel)]='produtoModel.nomeProduto' type="nomeProduto" class="form-control" id="nomeProduto" name="nomeProduto" formControlName="nomeProduto">
                            </div>
                            <div class="form-group mt-5 fonte">
                                <label for="descricao">Descrição:</label>
                                <input [(ngModel)]='produtoModel.descricaoProduto' type="descricaoProduto" class="form-control" id="descricaoProduto" name="descricaoProduto"
                                formControlName="descricaoProduto">
                            </div>
                            <div class="form-group mt-5 fonte">
                                <label for="preco">Preço:</label>
                                <input [(ngModel)]='produtoModel.precoProduto' type="precoProduto" class="form-control" id="precoProduto" name="precoProduto" formControlName="precoProduto"> 
                            </div>
                            <div class="form-group mt-5 fonte">
                                <label for="quantidade">Quantidade:</label>
                                <input [(ngModel)]='produtoModel.quantidadeProduto' type="quantidadeProduto" class="form-control" id="quantidadeProduto" name="quantidadeProduto" formControlName="quantidadeProduto">
                            </div>
                            <div class="form-group mt-5 fonte">
                                <label for="foto">Link da foto:</label>
                                <input [(ngModel)]='produtoModel.imagemProduto' type="imagemProduto" class="form-control" id="imagemProduto" name="imagemProduto"
                                formControlName="imagemProduto">
                            </div>
                            <div class="d-flex justify-content-center mb-4 mt-4">
                                <button class="btn button-radius fonte" type="button" data-dismiss="modal">Cancelar</button>
                                <button class="btn button-radius fonte" type="submit"  (click)='cadastrar()' >Cadastrar</button>
                                <button class="btn button-radius fonte" type="reset" (click)="reset" >Reset</button>
                            </div>
                        </form>
                    </div>
                  
                </div>
            </div>
        </div>
        <!-- Editar Produto-->


        <!-- Modal ------------------------------------------------>
        <div class="modal fade" id="edite" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
                <div class="modal-content backgroundModal modal-personalizado">
                    <div class="d-flex justify-content-center align-items-center mt-5 mb-4">
                        <h5 class="text-center fonte">EDITE O SEU PRODUTO</h5>

                    </div>
                    <div class="modal-body">
                        <form>
                            <p class="mb-2 text-center fonte">QUAL É A CATEGORIA DO SEU PRODUTO</p>
                            <div class="d-flex justify-content-center" style=" margin-left: 30px;">

                                <div class="custom-control custom-radio custom-control-inline fonte">
                                    <input type="radio" id="quarto" name="quarto" class="custom-control-input">
                                    <label class="custom-control-label" for="quarto">Quarto</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline fonte">
                                    <input type="radio" id="sala" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="sala">Sala</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline fonte">
                                    <input type="radio" id="cozinha" name="cozinha" class="custom-control-input">
                                    <label class="custom-control-label" for="cozinha">Cozinha</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline fonte">
                                    <input type="radio" id="banheiro" name="banheiro" class="custom-control-input">
                                    <label class="custom-control-label" for="banheiro">Banheiro</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline mb-2 fonte">
                                    <input type="radio" id="areaExterna" name="areaExterna"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="areaExterna">Área Externa</label>
                                </div>
                            </div>


                            <div class="form-group mt-4 fonte">
                                <label for="nome">Nome do produto:</label>
                                <input type="nome" class="form-control" id="nome">
                            </div>
                            <div class="form-group mt-5 fonte">
                                <label for="descricao">Descrição:</label>
                                <input type="descricao" class="form-control" id="descricao">
                            </div>
                            <div class="form-group mt-5 fonte">
                                <label for="preco">Preço:</label>
                                <input type="preco" class="form-control" id="preco">
                            </div>
                            <div class="form-group mt-5 fonte">
                                <label for="quantidade">Quantidade:</label>
                                <input type="quantidade" class="form-control" id="quantidade">
                            </div>
                            <div class="form-group mt-5 fonte">
                                <label for="foto">Link da foto:</label>
                                <input type="foto" class="form-control" id="foto">
                            </div>

                        </form>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-4">
                        <button class="btn button-radius fonte" type="button" data-dismiss="modal">Cancelar</button>
                        <button class="btn button-radius fonte" type="button">Alterar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>