<section>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <ul class="pt-4">
                <li><h1 class="color">DESENVOLVEDORES</h1></li>
                <hr class="color1">
            </ul> 
        </div>
        <div class="row d-flex justify-content-center pb-3">
            <div class="ml-3 mr-3 mt-3">
                <div class="card br-20" style="width: 18rem;">
                    <img class="card-img-top br-10" src="../../assets/Jessica.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">JÉSSICA CORDEIRO</h5>
                    <p class="card-text color2">DEV FULL STACK JR.</p>
                    <p class="card-text color2">REDES SOCIAIS</p>
                    <ul>
                      <li>
                        <a href="https://github.com/jessicacordeiro " class="icon-github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                      </li>
                      <li>
                        <a href="https://www.linkedin.com/in/jessica-a-cordeiro" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                      </li>
                      <li>
                        <a href="https://www.facebook.com/jessicaacordeiro" class="icon-facebook" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                      </li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="ml-3 mr-3  mt-3">
              <div class="card br-20" style="width: 18rem;">
                <img class="card-img-top br-10" src="../../assets/Vinicius.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">VINICIUS MENEZES</h5>
                  <p class="card-text color2">DEV FULL STACK JR.</p>
                  <p class="card-text color2">REDES SOCIAIS</p>
                  <ul>
                    <li>
                      <a href="https://github.com/viizeenho" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/viizeenho" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="" class="icon-facebook" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div> 
            <div class="ml-3 mr-3  mt-3">
              <div class="card br-20" style="width: 18rem;">
                <img class="card-img-top br-10" src="../../assets/Anderson.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">ANDERSON CONFORTO</h5>
                  <p class="card-text color2">DEV FULL STACK JR.</p>
                  <p class="card-text color2">REDES SOCIAIS</p>
                  <ul>
                    <li>
                      <a href="https://github.com/AndersonFlorencioConforto" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/anderson-florencio-conforto-b77577202/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="" class="icon-facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>    
        </div>
        <div class="row d-flex justify-content-center pt-5">
            <div class="ml-5 mr-5">
                <div class="card br-20" style="width: 18rem;">
                <img class="card-img-top br-10" src="../../assets/Guilherme.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">GUILHERME DOMINGUES</h5>
                    <p class="card-text color2">DEV FULL STACK JR.</p>
                    <p class="card-text color">REDES SOCIAIS</p>
                    <ul>
                      <li>
                        <a href="https://github.com/guidomingues" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                      </li>
                      <li>
                        <a href="https://www.linkedin.com/in/guilherme-domingues-2a315659/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                      </li>
                      <li>
                        <a href="" class="icon-facebook" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                      </li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="ml-5 mr-5 mb-4">
                <div class="card br-20" style="width: 18rem;">
                <img class="card-img-top br-10" src="../../assets/Marcelo.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">MARCELO SOUZA</h5>
                    <p class="card-text color2">DEV FULL STACK JR.</p>
                    <p class="card-text color2">REDES SOCIAIS</p>
                    <ul>
                      <li>
                        <a href="https://github.com/MarceloSouzaEDM" class="" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                      </li>
                      <li>
                        <a href="https://www.linkedin.com/in/marcelo-souza-2a8189207/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                      </li>
                      <li>
                        <a href="https://www.facebook.com/profile.php?id=100000910643184" class="icon-facebook" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                      </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    
    
